/* Add styles to float messages left or right */
.message {
    margin: 2px;
    padding: 8px;
    border-radius: 8px;
    max-width: 70%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.other-user {
    float: left;
    
}

.you {
    float: right;
    
}
.no-border {
    border: none;
}
.pad {
    padding: 5px;
}

/* Add custom style to remove border from the card body */
.card-body.no-border {
    border: none;
}
#chat-box {
    max-height: calc(100vh - 120px); /* Adjust the height as needed */
    overflow-y: auto;
    margin-bottom: 100px;
}
.main{
    margin-top:45px;
}

/* Add custom style to make chat box scrollable */


/* Add custom style to make the position of the chat box stable */
.card {
    position: relative;
}
#message-input {
    height: 47px;
}

.input-group{
    width: 97%;
    border: 4px solid rgb(13, 126, 255);
    border-radius: 10px;
    font-size: xx-large;
}


/* Add custom fonts for the entire page 

@media (max-width: 768px) {
    body {
        font-size: 70px; /* Font size for phone browsers 
    }
}
*/
.row>*{
    padding-left:0px;
    padding-right: 0px;
    margin-left: 10px;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    width: 90px;
}